body {
    background-color: black;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    align-items: center;
}

main {
    background-color: blueviolet;
    max-width: 600px;
    border-radius: 10px;
    padding: 10px 30px;
    box-shadow: 5px 5px 15px 5px rgba(122, 83, 145, 0.37);
     
}

h2 {
    color: rgb(15, 1, 19);
    background-color: rgb(154, 117, 189);
    border-radius: 5px;
    padding: 10px;
}

button {
    background-color: #4b0082;
    border: 0 none;
    padding: 10px;
    font-size: 20px;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px;
}

h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-shadow: 5px 2px 7px rgba(59, 28, 87, 0.82);
}